_bmad
.claude
.codex
.cursor
.vscode
target/
api/src/main/yang-gen-sal/
.idea/
*.iml
.project
.classpath
.settings/
bin/
*.log
*.txt
.jdk/
settings.xml
META-INF/
**/yang-gen-sal/
**/maven-metadata-local.xml
sal-core-api-*.jar*
sal-*-api-*.pom
sal-parent-*.pom
